---
import { TED_TALK_VIEWS } from '../../data/definitions';
import { Image } from '@astrojs/image/components';
import otmImage from '../../assets/images/neil_hughes_stage.jpg';
import ebrdImage from '../../assets/images/speaking/ebrd.jpg';
import tedImage from '../../assets/images/speaking/ted_speak.jpg';
import {
	Heart,
	MultiBubble,
	BubbleStar,
	YouTube,
	Walking,
} from 'iconoir-react';
import { YouTube as YouTubeEmbed } from '@astro-community/astro-embed-youtube';
import quotes_highlighted from '../../data/speaking/speaking_quotes_highlighted.json';
import quotes_businesses from '../../data/speaking/speaking_quotes_businesses.json';
import quotes_schools from '../../data/speaking/speaking_quotes_schools.json';
import Quote from '../shared/Quote.astro';
---

<div class='space-y-3 md:space-y-6'>
	<div class='space-y-3 md:space-y-6'>
		<div class='text-center font-serif text-2xl 2xl:text-3xl'>
			🕺 I've been public speaking for <span
				class='text-3xl font-bold text-red-700 2xl:text-4xl'
				>over twenty years</span
			>.
		</div>
		<Image
			src={otmImage}
			alt='Neil Hughes on stage'
			class='mx-auto w-1/2 2xl:w-1/3'
		/>

		<div class='text-xl'>
			Sometimes I talk about <a
				href='https://bit.ly/custardTED'
				class='text-xl text-blue-700 hover:text-blue-500'
				>anxiety & mental health</a
			>. Other times I share about <a
				href='https://puttylike.com'
				class='text-xl text-blue-700 hover:text-blue-500'
				>building a satisfying career</a
			>. And occasionally I just tell jokes.
		</div>
		<p>
			I've performed for audiences ranging from <strong class='text-lg'
				>two people</strong
			> to
			<strong class='text-lg'>two thousand</strong>, and at <span
				class='text-lg text-red-700'>all sorts of events</span
			>—including festivals, school assemblies, staff training days,
			university lectures, conference keynotes, and more.
		</p>
		<div class='flex w-full justify-center'>
			<a
				href={`${import.meta.env.BASE_URL}contact`}
				class='rounded-xl bg-green-500 px-6 py-2 text-white hover:bg-green-400'
				>enquire about availability</a
			>
		</div>
	</div>
	<p>Most commonly, people want me to talk about anxiety:</p>
	<h3
		class='flex items-center justify-center rounded-xl bg-amber-200 py-3 font-serif font-bold text-zinc-900'
	>
		<span
			class='-gap-y-3 relative inline-flex flex-col justify-center text-5xl'
			><Walking className='text-4xl text-amber-600' /> 🍮</span
		>Walking on Custard: A talk for anxious humans (and non-anxious ones
		too!)
	</h3>
	<p>
		After <a
			href={`${import.meta.env.BASE_URL}anxiety`}
			class='text-lg text-red-700 underline hover:text-red-500'
			>years with anxiety</a
		>, I realised that it was surprisingly helpful to think about custard.
		Who knew?!
	</p>
	<p>
		I've turned my experiences into an amusing talk which explores difficult
		times through <strong>funny stories</strong> and <strong
			>practical tips</strong
		>
		for emotional management.
	</p>

	<div class='m-auto w-1/2 p-3'>
		<div class='bg-red-200 py-2 text-center'>
			<YouTube className='inline text-red-500 text-xl' /> I gave a short (14
			minute) version of this talk at TEDx Leamington Spa:
		</div>

		<YouTubeEmbed id={'bM06o26PCDQ'} />
		<div class='bg-red-200 pb-2 text-center text-sm'>
			Over <span class='text-lg font-bold text-red-500'
				>{TED_TALK_VIEWS.toLocaleString()}</span
			>
			people have watched this TED talk! 😮
		</div>
	</div>
	<h4 class='text-center font-serif text-xl font-bold'>
		<BubbleStar className='inline mr-4' /> Comments from Businesses, Schools
		and Audience Members:
	</h4>
	<Quote
		cite={quotes_highlighted[0].cite}
		quote={quotes_highlighted[0].quote}
	/>

	<div
		class='flex flex-col items-center justify-between space-x-3 md:flex-row'
	>
		<Image
			src={ebrdImage}
			alt='Neil Hughes speaking at the EBRD'
			width={400}
			class='w-1/2 md:w-full'
		/>
		<h3 class='w-full py-3 text-left text-4xl font-bold md:pl-6'>
			<span class='text-blue-700'
				><MultiBubble className='inline' /> Businesses</span
			> say:
		</h3>
	</div>

	{quotes_businesses.map((q) => <Quote quote={q.quote} cite={q.cite} />)}

	<div
		class='flex flex-col-reverse items-center justify-between space-x-3 md:flex-row'
	>
		<h3
			class='w-full py-3 pr-4 text-center text-xl font-bold md:text-right lg:text-4xl'
		>
			<span class='text-blue-700'
				><MultiBubble className='inline' /> Schools</span
			> say:
		</h3>
		<Image
			src={tedImage}
			alt='Neil Hughes speaking at TEDx Leamington Spa'
			width={400}
			class='w-1/2 md:w-full'
		/>
	</div>

	{quotes_schools.map((q) => <Quote quote={q.quote} cite={q.cite} />)}
</div>

<div
	class='mt-12 rounded bg-amber-200 py-3 text-center font-serif text-xl font-bold lg:text-3xl'
>
	Need a speaker?
</div>
<div class='space-y-9'>
	<p class='mt-6 text-center text-lg lg:text-xl'>
		Contact <strong>neil@walkingoncustard.com</strong> or
		<a
			href={`${import.meta.env.BASE_URL}contact`}
			class='mt-3 inline-block rounded-xl bg-green-500 px-6 py-2 text-white hover:bg-green-400 md:inline-block'
			>click here to ask for a quote</a
		>
	</p>

	<p class='text-center'>
		I&apos;m currently based in the{' '}
		<strong class='text-lg text-red-700 xl:text-xl'
			>northwest of England</strong
		>, but I <strong class='text-lg text-blue-700 xl:text-xl'
			>regularly travel</strong
		> all over the UK (and further, if required).
	</p>
	<div class='space-y-3 bg-red-100 px-12 py-3'>
		<Heart className='inline text-2xl text-red-700' />
		Thanks to the generosity of clients who are able to pay more, a
		<strong class='text-purple-500'>
			limited number of free events are available</strong
		>, with priority given to state schools and charities. If you think you
		might qualify for a free event then please ask! <div>
			Either way, please get in touch—I try to accommodate all budgets as
			flexibly as I can.
		</div>
	</div>
</div>
