---
import { SITE_BASE_URL } from '../../data/definitions';
---

<div
	class='prose flex flex-row items-center space-x-6 border-t-2 border-t-zinc-300'
>
	<img
		src='https://www.walkingoncustard.com/wp-content/uploads/2019/12/headshot.jpg'
		alt='Neil Hughes'
		class='wp-image-3201'
		width='146'
		height='176'
	/>
	<div>
		<p>
			<strong><a href={`${SITE_BASE_URL}`}>Neil Hughes</a></strong> is the
			author of <a
				aria-label=' (opens in a new tab)'
				href={`${SITE_BASE_URL}books/walking-on-custard`}
				>Walking on Custard &amp; the Meaning of Life</a
			>, a comical and useful guide to life with anxiety, and <a
				href={`${SITE_BASE_URL}books/shop-before-life`}
				>The Shop Before Life</a
			>, a tale about a magical shop which sells human personality traits.
		</p>
		<p>
			Along with writing more books, he spends his time on standup comedy, <a
				href={`${SITE_BASE_URL}speaking`}
				>speaking about mental health</a
			>, computer programming, public speaking and everything from music
			to video games to languages. He struggles to answer the question
			"so, what do you do?" and is worried that the honest answer is
			probably "procrastinate."
		</p>
		<p>
			He would like it if you <a href={`${SITE_BASE_URL}contact`}
				>said hello</a
			>.
		</p>
	</div>
</div>
