---
import sblCover from '../../../assets/images/sblCover.jpg';
import wocCover from '../../../assets/images/wocCover.jpg';
import BookTile from './BookTile.astro';
import { BookStack, MultiplePages, PageSearch } from 'iconoir-react';
import { SITE_BASE_URL } from '../../../data/definitions';
import LinkButton from '../../shared/LinkButton.astro';
import Trait from '../../books/sbl/Trait.astro';
---

<div class='flex h-full flex-col justify-evenly space-y-3 md:space-y-6'>
	<BookTile
		coverImg={wocCover}
		linkUrl={`${SITE_BASE_URL}books/walking-on-custard`}
		title='Walking on Custard'
		blurb='a funny guide to life with anxiety'
		buttonText='find out how custard helps with anxiety'
	/>
	<BookTile
		coverImg={sblCover}
		title='The Shop Before Life'
		linkUrl={`${SITE_BASE_URL}books/shop-before-life`}
		blurb='before being born, everyone chooses who to be'
		buttonText='explore the Shop Before Life'
	/>
	<div class='flex flex-row items-center justify-between space-x-3'>
		<span class='w-1/3'>Today the Shop is serving:</span><Trait />
	</div>
	<div class='text-center font-serif text-lg font-bold'>
		<LinkButton text='Books' url={`${SITE_BASE_URL}books`} />
		<LinkButton text='Articles' url={`${SITE_BASE_URL}articles`} />
	</div>
</div>
