---
import { LeftRoundArrow, RightRoundArrow } from 'iconoir-react';
import ArticleCard from '../../../components/blog/ArticleCard.astro';
import { getArticles } from '../../../components/blog/api/fetch_articles';
import type { Post } from '../../../components/blog/api/post';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import LayoutPage from '../../../layouts/Layout_Page.astro';
import { WP_API_POSTS_PER_PAGE } from '../../../data/definitions';

export async function getStaticPaths({ paginate }: { paginate: Function }) {
	const allPosts = await getArticles();

	const pages = paginate(allPosts, { pageSize: WP_API_POSTS_PER_PAGE });

	// pages[0] has page "undefined" instead of 1. Let's make it work for page 1 for either undefined or 1
	pages.push({ ...pages[0], params: { page: 1 } });

	return pages;
}

const { page } = Astro.props;
---

<BaseLayout
	title={`Articles by Neil Hughes - page ${page.currentPage} - enhughesiasm`}
>
	<LayoutPage>
		<div class='flex flex-row items-center justify-center space-x-3'>
			<h2
				class='rounded-xl py-3 px-6 font-serif text-3xl font-bold text-zinc-700'
			>
				Articles by Neil Hughes
			</h2>
		</div>
		<div
			class='flex flex-row items-center justify-center space-x-1 py-3 text-xl'
		>
			{
				page.url.prev && (
					<a
						class='text-blue-500 hover:text-blue-400'
						href={page.url.prev}>
						<LeftRoundArrow />
					</a>
				)
			}
			<span>{page.currentPage} / {page.lastPage}</span>
			{
				page.url.next && (
					<a
						class='text-blue-500 hover:text-blue-400'
						href={page.url.next}>
						<RightRoundArrow />
					</a>
				)
			}
		</div>

		<div class='mt-12 grid grid-cols-4 gap-y-6'>
			{page.data.map((post: Post) => <ArticleCard post={post} />)}
		</div>

		<div class='mt-6 flex w-full justify-evenly py-6 text-4xl'>
			<div class='flex flex-row items-center space-x-3'>
				{
					page.url.prev && (
						<a
							class='text-blue-500 hover:text-blue-400'
							href={page.url.prev}>
							<LeftRoundArrow />
						</a>
					)
				}
				<span>{page.currentPage} / {page.lastPage}</span>
				{
					page.url.next && (
						<a
							class='text-blue-500 hover:text-blue-400'
							href={page.url.next}>
							<RightRoundArrow />
						</a>
					)
				}
			</div>
		</div>
	</LayoutPage>
</BaseLayout>
