---
import {
	Arcade,
	BookStack,
	ChatBubble,
	CrackedEgg,
	Mail,
	MessageText,
	MultiplePages,
	PeopleTag,
	ShopFourTiles,
	Treadmill,
} from 'iconoir-react';
import DropdownItem from './DropdownItem.astro';
import NavItem from './NavItem.astro';
import { MobileNav } from './mobile_nav';

export interface Props {}
---

<MobileNav client:load />

<nav class='hidden flex-grow px-1 md:flex lg:px-6'>
	<ul class='top-0 hidden flex-grow items-center md:flex'>
		<NavItem text='who?!' link={`${import.meta.env.BASE_URL}`}>
			<PeopleTag slot='icon' />
		</NavItem>
		<NavItem text='articles' link={`${import.meta.env.BASE_URL}articles`}>
			<MultiplePages slot='icon' />
		</NavItem>
		<NavItem text='anxiety' link={`${import.meta.env.BASE_URL}anxiety`}>
			<Treadmill slot='icon' />
		</NavItem>
		<NavItem text='books' link={`${import.meta.env.BASE_URL}books`}>
			<BookStack slot='icon' />
			<Fragment slot='dropdown-items'>
				<DropdownItem
					text='Walking on Custard'
					link={`${import.meta.env.BASE_URL}books/walking-on-custard`}
				>
					<CrackedEgg slot='icon' />
				</DropdownItem>
				<DropdownItem
					text='The Shop Before Life'
					link={`${import.meta.env.BASE_URL}books/shop-before-life`}
				>
					<ShopFourTiles slot='icon' />
				</DropdownItem>
			</Fragment>
		</NavItem>
		<NavItem text='games' link={`${import.meta.env.BASE_URL}games`}>
			<Arcade slot='icon' />
		</NavItem>
		<NavItem text='speaking' link={`${import.meta.env.BASE_URL}speaking`}>
			<ChatBubble slot='icon' />
		</NavItem>
		<NavItem
			text='occasional email experience'
			link={`${import.meta.env.BASE_URL}occasional-email-experience`}
		>
			<Mail slot='icon' />
		</NavItem>
	</ul>
	<ul class='top-0 hidden items-center md:flex'>
		<NavItem text='contact' link={`${import.meta.env.BASE_URL}contact`}>
			<MessageText slot='icon' />
		</NavItem>
	</ul>
</nav>
